input[type=text],
input[type=email],
textarea {
  background-color: #f3f3f3;
  border: 0;
  border-bottom: 1px solid #333;
  font-family: $base-font-family;
  font-size: 1rem;
  padding: 0.5rem;
  width: 100%;
}

button {
  background-color: #333;
  border-radius: 0.5rem;
  border: 0;
  color: white;
  font-family: $base-font-family;
  font-size: 1rem;
  padding: 0.5rem 3rem;
}
