@mixin container {
  max-width: $container-width;
  margin: 0 auto;
  padding: 0 2vw;
}

@mixin gallery-container {
  max-width: $gallery-container-width;
  margin: 0 auto;
  padding: 0 2vw;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
