.lightbox {
  background: rgba(0, 0, 0, 0.9);
  background-image: url("/images/loading.svg");
  background-position: center center;
  background-repeat: no-repeat;
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;

  &:target {
    display: flex;
    flex-direction: column;
    outline: none;
  }
}

.lightbox-image {
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  flex-grow: 1;
  width: 100%;
}

.lightbox-caption {
  @include clearfix;
  background: black;
  font-size: 0.8rem;
  color: white;
  padding: 0.25rem 0.5rem;
  text-align: center;
}
