body {
  background-color: #ffffff;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  padding: 8vh 1rem 4vh;
  text-align: center;
}

h1 {
  font-family: 'Amatic SC', cursive;
  font-weight: normal;
  font-size: 16vw;
}

@media (min-width: 600px) {
  h1 {
    font-size: 6rem;
  }
}

img {
  border-radius: 0.5rem;
  max-width: 100%;
}

a {
  color: rgba(#000, 0.7);

  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}

.middleman-logo {
  margin-bottom: 1rem;
  width: 10rem;
}

ul.image-gallery {
  padding: 0.25rem;
  font-size: 0;
  flex-flow: row wrap;
  display: flex;
  li {
    flex: auto;
    width: 20%;
    margin: 0.25rem;
    picture {
      width: 100%;
      height: auto;
    }
  }
}
