@import "./variables";
@import "./grids";
@import "./layout";

@import "bourbon";
@import "neat";

body {
  background-color: #ffffff;
  color: #333;
  font-family: "Fira Sans", sans-serif;
  padding: 2vh 2vw 2vh;
  text-align: center;
}

h1 {
  font-family: "Amatic SC", cursive;
  font-weight: normal;
  font-size: 16vw;
}

@media (min-width: 600px) {
  h1 {
    font-size: 6rem;
  }
}

a {
  color: rgba(#000, 0.7);

  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}

ul.image-gallery {
  @include grid-container;
  @include container;
  line-height: 0;
  list-style: none;
  padding: 0;

  li {
    @include grid-column(12);
    margin-bottom: 0.5rem;

    @include grid-media($small-image-grid) {
      @include grid-column(6);
    }

    @include grid-media($medium-image-grid) {
      @include grid-column(4);
    }

    @include grid-media($large-image-grid) {
      @include grid-column(3);
    }
  }

  img {
    border-radius: 0.5rem;
    max-width: 100%;
  }
}

footer {
  @include container;
  padding: 0.5rem;

  p {
    border-top: 1px solid #999;
    opacity: 0.5;
    padding: 0.5rem;
  }

  .heart {
    height: 1rem;
    vertical-align: middle;
    path {
      fill: #cc0000;
    }
  }
}
