@import "bourbon";
@import "neat";

body {
  background-color: #ffffff;
  color: #333;
  font-family: $georgia;
  padding: 8vh 1rem 4vh;
  text-align: center;
}

h1 {
  font-family: 'Amatic SC', cursive;
  font-weight: normal;
  font-size: 16vw;
}

@media (min-width: 600px) {
  h1 {
    font-size: 6rem;
  }
}

img {
  border-radius: 0.5rem;
  max-width: 100%;
}

a {
  color: rgba(#000, 0.7);

  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}

.middleman-logo {
  margin-bottom: 1rem;
  width: 10rem;
}

$neat-grid: (gutter: 10px);

$small-image-grid: (media: 400px);
$medium-image-grid: (media: 680px);
$large-image-grid: (media: 960px);
$wide-image-grid: (media: 1400px);

ul.image-gallery {
  @include grid-container;
  line-height: 0;
  list-style: none;
  padding: 0;

  li {
    @include grid-column(12);
    margin-bottom: 10px;

    @include grid-media($small-image-grid) {
      @include grid-column(6);
    }

    @include grid-media($medium-image-grid) {
      @include grid-column(4);
    }

    @include grid-media($large-image-grid) {
      @include grid-column(3);
    }

    @include grid-media($wide-image-grid) {
      @include grid-column(2);
    }
  }
}
