<section class="gallery">
  <div class="container">
    <header>
      <h2>Gallery</h2>
    </header>
  </div>

  <ul class="image-gallery">
    <% images.each do |image| %>
      <%= partial "partials/gallery_image", locals: { image: image } %>
    <% end %>
  </ul>
</section>

<% each_with_next_prev(images) do |prev_image, image, next_image| %>
  <%= partial "partials/lightbox", locals: { image: image, prev_image: prev_image, next_image: next_image } %>
<% end %>
