<section class="getting-married">
  <div class="container">
    <header>
      <h2>We&rsquo;re Getting Married!</h2>
    </header>

    <main>
      <div class="when">
        <h3>When?</h3>
        <p>
          6pm<br>
          Sunday<br>
          May 28th<br>
          2017
        </p>
      </div>

      <div>
        <h3>Where?</h3>
        <p>
          Casa García<br>
          Helotes<br>
          San Antonio<br>
          Texas
        </p>
      </div>
    </main>
  </div>
</section>
