<section class="our-story">
  <header>
    <h2>We&rsquo;re Getting Married!</h2>
  </header>

  <main>
    <p>Ipsum hic ratione dignissimos vel mollitia Impedit expedita magnam earum recusandae et ullam temporibus officiis dolores Eius ex consequatur nihil odit rem. Dignissimos cumque cumque provident molestiae fuga quo, eaque.</p>
  </main>
</section>
