<section class="how-we-met">
  <div class="container">
    <header>
      <h2>How We Met</h2>
    </header>

    <main>
      <p>It all started with a swipe...</p>

      <div class="tinder-container">
        <div class="tinder-daniel">
          <%= image_tag "tinder-daniel.png" %>
        </div>
        <div class="its-a-match">
          <%= image_tag "its-a-match.png" %>
        </div>
        <div class="tinder-rosella">
          <%= image_tag "tinder-rosella.png" %>
        </div>
      </div>
    </main>
  </div>
</section>
