<style>
  #<%= parameterize(image.title) %> {
    background-image: url(<%= image_path "gallery/#{image.filename}" %>);
  }
</style>

<a class="lightbox" href="#_" id="<%= parameterize(image.title) %>"
  style="">
</a>
