<section class="registry">
  <div class="container">
    <header>
      <h2>Registry</h2>
    </header>

    <main>
      <p>Since we&rsquo;ll be finding a bigger apartment as soon as we can, we&rsquo;re holding off on appliances and China, etc. In the meantime, we've set up an online registry to help us save for setting up our future home and for&mdash;what else?&mdash;an epic honeymoon!</p>

      <p><a href="https://www.honeyfund.com/wedding/rosellandaniel">Our registry</a></p>
    </main>
  </div>
</section>
