<section class="registry">
  <div class="container">
    <header>
      <h2>Registry</h2>
    </header>

    <main>
      <p>We have setup <a href="https://www.honeyfund.com/wedding/rosellandaniel">a registry</a> if you would like to give us a little something for our Honeymoon!</p>
    </main>
  </div>
</section>
