<section class="registry">
  <div class="container">
    <header>
      <h2>Registry</h2>
    </header>

    <main>
      <p>How about this for the registry section: Since we'll be making a few transatlantic moves, we're holding off on appliances and China, etc. In the meantime, we've set up an online registry to help us save for setting up a future house and for&mdash;what else?&mdash;an epic honeymoon!</p>

      <p><a href="https://www.honeyfund.com/wedding/rosellandaniel">Our registry</a></p>
    </main>
  </div>
</section>
