<section class="rsvp">
  <div class="container">
    <header>
      <h2>RSVP</h2>
    </header>

    <main>
      <form name="RSVP" action="thank-you" netlify>
        <label>
          <p>Name:<br><input type="text" name="name"></p>
        </label>
        <label>
          <p>Email:<br><input type="email" name="email"></p>
        </label>
        <label>
          <p><input type="radio" name="attending" value="Yes"> Yes, we would love to attend!</p>
        </label>
        <label>
          <p><input type="radio" name="attending" value="No"> Sorry, we are unable to attend</p>
        </label>
        <label>
          <p>Message:<br><textarea name="message"></textarea></p>
        </label>

        <p><button type="submit">RSVP</button></p>
      </form>
    </main>
  </div>
</section>
