<section class="thank-you">
  <header>
    <h2>Thank You</h2>
  </header>

  <main>
    <p>Thank you for getting back to us!</p>

    <p><a href="/">Take me back to the home page</a></p>
  </main>
</section>
